<!-- {% extends 'layout.html' %} -->

{% block body %}
<style>
html body {
background-color: rgb(206, 206, 228);
}
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
<b>Get informed advice on fertilizer based on soil</b>
</h2>
<br />

<div
style="
width: 350px;
height: 40rem;
margin: 0px auto;
color: black;
border-radius: 25px;
padding: 10px 10px;
"
>
<form method="POST" action="{{ url_for('fert_recommend') }}">
<div class="form-group">
<label for="AddPh" style="font-size: 17px"><b>Soil Ph:</b></label>
<input
type="text"
class="form-control"
id="AddPh"
name="addph"
placeholder="Enter the value (example:50)"
style="font-weight: bold"
required
/>
</div>
<div class="form-group">
<label for="Addmoisture" style="font-size: 17px"
><b>Soil Moisture:</b></label
>
<input
type="text"
class="form-control"
id="Addmoisture"
name="addmoisture"
placeholder="Enter the value (example:50)"
style="font-weight: bold"
required
/>
</div>

<div class="form-group">
<label for="Addtemperature" style="font-size: 17px"><b>Temperature:</b></label>
<input
type="text"
class="form-control"
id="Addtemperature"
name="addtemperature"
placeholder="Enter the value (example:50)"
style="font-weight: bold"
required
/>
</div>
<!-- <div class="form-group">
<label for="ph" style="font-size: 17px"><b>ph level</b></label>
<input
type="text"
class="form-control"
id="ph"
name="ph"
placeholder="Enter the value"
style="font-weight: bold"
required
/>
</div> -->

<div class="form-group">
<label for="Addhumidity" style="font-size: 17px"><b>Humidity:</b></label>
<input
type="text"
class="form-control"
id="Addhumidity"
name="addhumidity"
placeholder="Enter the value (example:50)"
style="font-weight: bold"
required
/>
</div>

<div class="d-flex justify-content-center">
<button
type="submit"
class="btn btn-info"
style="
color: black;
font-weight: bold;
width: 130px;
height: 50px;
border-radius: 12px;
font-size: 21px;
"
>
Recommend
</button>
</div>
</form>
</div>
{% endblock %}